body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#updateSection {
  display: none;
}

.updatePopup {
  position: fixed;
  width: 30%;
  height: 15%;
  background-color: rgb(164, 226, 205);
  display: inline-block;
  padding: 2%;
}
